[http.routers]
  [http.routers.dashboard]
    rule = "Host(`{{ load_balancer_internal_name }}`)"
    service = "api@internal"
    middlewares = ["traefik-auth"]

    [http.routers.dashboard.tls]
      certResolver = "letsencrypt"

[http.middlewares]
  [http.middlewares.traefik-auth.basicAuth]
  users = [
    {{ load_balancer_admin_users | map('quote') | join(', ') }},
  ]