[http.routers]
  [http.routers.audiocloud-domain-server]
    rule = "Host(`{{ load_balancer_public_name }}`)"
    service = "audiocloud-domain-server"
    middlewares = ["audiocloud-domain-server-rate-limit"]

    [http.routers.audiocloud-domain-server.tls]
      certResolver = "letsencrypt"

[http.middlewares]
  [http.middlewares.audiocloud-domain-server-rate-limit.rateLimit]
    average = 50
    burst = 100

[http.services]
  [http.services.audiocloud-domain-server.loadBalancer]
    [http.services.audiocloud-domain-server.loadBalancer.healthCheck]
      path = "/healthz"
    [[http.services.audiocloud-domain-server.loadBalancer.servers]]
      url = "{{ load_balancer_internal_domain_server_url }}"