[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"

[certificatesResolvers.letsencrypt.acme]
  email = "{{ load_balancer_admin_email }}"
  storage = "/opt/homebrew/etc/traefik/certs/acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    # used during the challenge
    entryPoint = "http"

[api]
  dashboard = true

[log]
  level = "DEBUG"

[accessLog]

[metrics]
  [metrics.prometheus]

[providers]
  [providers.file]
    directory = "/opt/homebrew/etc/traefik/sites"
    watch = true