domain_id: {{ domain_server_id }}
public_host: localhost
apps: {{ domain_server_apps | to_yaml }}
models: !remote
  url: https://api.audiocloud.io/v1/models
  refresh_interval_ms: 60000
engines:
  default:
    sample_rate: 192000
    max_concurrent_tasks: 16
    resources:
      ram: 8
      cpu: 12.8
fixed_instances: # TODO: this list needs to come from a file in the repo
    {{ domain_server_fixed_instances | indent }}
