let env = {
    NATS_URL: "{{ domain_server_nats_url }}",
    API_KEY: "{{ domain_server_api_key }}",
    RUST_LOG: "{{ domain_server_rust_log }}",
}

env = {...env, ...JSON.parse({{ domain_server_extra_env | to_json | quote }}) }

module.exports = {
    apps: [{
        name: "audiocloud_domain_server - {{ domain_server_version }}",
        script: "./audiocloud_domain_server",
        exec_interpreter: "none",
        cwd: "{{ domain_server_path }}",
        env: env
    }]
}