[Unit]
Description=AudioCloud Instance Driver - {{ instance_driver_version }}
Documentation=https://audiocloud.io
After=network.target

[Service]
Environment=NATS_URL={{ audio_engine_nats_url }}
Type=simple
User={{ user }}
ExecStart={{ instance_driver_path }}/instance_driver
Restart=on-failure

[Install]
WantedBy=multi-user.target
